* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: white;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.exit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 2%;
}

.title {
    color: var(--better-blue, #7A97A9);
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -5.6px;
}

.headingTitle {
    display: flex;
    flex-direction: row;
}

.logo {
    max-width: 5%;
}

.info {
    color: #384755;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.25px;
}

.disclaimer {
    color: rgba(56, 71, 85, 0.50);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-decoration-line: underline;
}

.label {
    color: #7F93A5;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.75px;
}

.resume-builder {
    padding: 27px 100px;
}

.container {
    padding: 10px 30px;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    height: auto;
    width: 60%;
    margin: auto;
}

.container h1 {
    text-align: center;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

input,
textarea {
    background-color: transparent;
    margin: 10px 0;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(57, 57, 57, 0.216);
    display: block;
    width: 100%;
}

button {
    border: none;
    background-color: #9AB6A2;
    padding: 15px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.output-container {
    width: 80%;
    margin: 10px auto;
    /*flex-direction: column;*/
    justify-items: center;
    justify-content: center;
}

.output {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    vertical-align: middle;
    font: 'Times New Roman', Times, serif;
}

.resumeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-width: 1;
    border: solid;
    border-color: #adaeb0;
}

.heading {
    padding: 20px 5px;
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
}

.heading h1 {
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.heading h4 {
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}


.footer {
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(50, 50, 50); 
}

.contact {
    padding: 20px 10px;
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
}

.sectionTitle {
    color: black;
    font-size: 20px;
    font: Times, serif;

}

.heading h4 {
    color: rgb(200, 200, 200);
    padding-top: 9px;
}

.info {
    display: flex;
    /*padding: 20px;*/
    flex-direction: column;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.box {
    margin: 10px 0;
    padding: 5px 10px;
    height: auto;
    overflow-wrap: break-word;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.box h2 {
    margin-bottom: 5px;
    font: Times;
    font-size: 20px;
    font-weight: 1.5;
    color: black;
    letter-spacing: 1.25;
}

.box h3 {
    font: Times;
    font-size: 18px;
    font-weight: 1.5;
    color: black;
    letter-spacing: 1.25;
}

.box p {
    font: Times;
    font-size: 16px;
    color: black;
    letter-spacing: 1.25;
}

.tip {
    font-size: small;
    color: gray;
    text-align: center;
}

.credit {
    text-align: center;
    font-weight: bold;
    padding: 10px 3px;
    color: rgb(80, 80, 80);
}

a {
    color: rgba(56, 71, 85, 0.50);
}

a:hover {
    color: rgba(39, 48, 57, 0.5);
    font-weight: bold;
}


@media print {
    .noPrint{
      display:none;
    }
  }
  

/* media queries end here */